body {
    background: #000;
}

img {
    display: block;
    float: left;
    margin: 0 1px 0 0;
}

canvas {
    background: #131c35 linear-gradient(#ADD8E6, #131c35);
    display: block;
    float: left;
}