<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<!--TODO add icon here -->
<link rel="icon" type="image/x-icon" href="./static/images/icon/blinky.ico"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/static/css/utility.css"/>
<link rel="stylesheet" href="/static/css/background.css"/>
<link rel="stylesheet" href="/static/css/navbar.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>