<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Modul 152</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown" >
                <a class="nav-link dropdown-toggle" href="#" id="competence1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Competence 1
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/competence1_1">Fachkompetenz 1.1</a>
                    <a class="dropdown-item" href="/competence1_2">Fachkompetenz 1.2</a>
                    <a class="dropdown-item" href="/competence1_3">Fachkompetenz 1.3</a>
                    <a class="dropdown-item" href="/competence1_4">Fachkompetenz 1.4</a>
                    <a class="dropdown-item" href="/competence1_5">Fachkompetenz 1.5</a>
                    <a class="dropdown-item" href="/competence1_6">Fachkompetenz 1.6</a>
                    <a class="dropdown-item" href="/competence1_7">Fachkompetenz 1.7</a>
                    <a class="dropdown-item" href="/competence1_8">Fachkompetenz 1.8</a>
                    <a class="dropdown-item" href="/competence1_9">Fachkompetenz 1.9</a>
                </div>
            </li>
            <li class="nav-item dropdown" >
                <a class="nav-link dropdown-toggle" href="#" id="competence2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Competence 2
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/competence2_1">Fachkompetenz 2.1</a>
                    <a class="dropdown-item" href="/competence2_2">Fachkompetenz 2.2</a>
                    <a class="dropdown-item" href="/competence2_3">Fachkompetenz 2.3</a>
                </div>
            </li>
            <li class="nav-item dropdown" >
                <a class="nav-link dropdown-toggle" href="#" id="competence3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Competence 3
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/competence3_1">Fachkompetenz 3.1</a>
                    <a class="dropdown-item" href="/competence3_2">Fachkompetenz 3.2</a>
                    <a class="dropdown-item" href="/competence3_3">Fachkompetenz 3.3</a>
                    <a class="dropdown-item" href="/competence3_4">Fachkompetenz 3.4</a>
                    <a class="dropdown-item" href="/competence3_5">Fachkompetenz 3.5</a>
                    <a class="dropdown-item" href="/competence3_6">Fachkompetenz 3.6</a>
                    <a class="dropdown-item" href="/competence3_7">Fachkompetenz 3.7</a>
                    <a class="dropdown-item" href="/competence3_8">Fachkompetenz 3.8</a>
                    <a class="dropdown-item" href="/competence3_9">Fachkompetenz 3.9</a>
                </div>
            </li>
            <li class="nav-item dropdown" >
                <a class="nav-link dropdown-toggle" href="#" id="competence4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Competence 4
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/competence4_1">Fachkompetenz 4.1</a>
                    <a class="dropdown-item" href="/competence4_2">Fachkompetenz 4.2</a>
                    <a class="dropdown-item" href="/competence4_3">Fachkompetenz 4.3</a>
                    <a class="dropdown-item" href="/competence4_4">Fachkompetenz 4.4</a>
                    <a class="dropdown-item" href="/competence4_5">Fachkompetenz 4.5</a>
                </div>
            </li>
            <li class="nav-item dropdown" >
                <a class="nav-link dropdown-toggle" href="#" id="competence5" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Competence 5
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/competence5_1">Fachkompetenz 5.1</a>
                    <a class="dropdown-item" href="/competence5_2">Fachkompetenz 5.2</a>
                    <a class="dropdown-item" href="/competence5_3">Fachkompetenz 5.3</a>
                    <a class="dropdown-item" href="/competence5_4">Fachkompetenz 5.4</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/learnjournal">Learnjournal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/libraries">Libraries/technologies</a>
            </li>
        </ul>
    </div>
</nav>