<!DOCTYPE html>
<html lang="en">
<head>
    <% include component/header.html %>
    <link rel="stylesheet" href="/static/css/portfolio.css"/>
    <title>Fachkompetenz 1.6</title>
</head>
<body>
<div id="page-container">
    <% include component/navbar.html %>
    <div class="tab-content-padding">
        <p>Ich kenne verschiedene Möglichkeiten wie sich Bilder in einer Website präsentieren lassen und kann je nach
            Situation begründen, welche Variante welche Vor- und Nachteile bietet.</p>

        <%- displayImages %>
    </div>
</div>
</body>
</html>