<!DOCTYPE html>
<html lang="en" xmlns:width="http://www.w3.org/1999/xhtml">
<head>
    <% include component/header.html %>
    <title>Canvas</title>
    <link rel="stylesheet" href="/static/css/portfolio.css"/>
    <link rel="stylesheet" href="/static/css/canvas.css"/>
    <style>
    </style>
    <script src="/static/js/canvas.js"></script>
</head>
<body>
<div id="page-container">
    <% include component/navbar.html %>
    <div class="tab-content-padding">
        <p>Ich kenne den HTML5 Canvas und kann diesen für kleine Animationen einsetzen.
        </p>
        <canvas id="canvas"></canvas>
    </div>
</div>
</body>
</html>