<!DOCTYPE html>
<html lang="en" xmlns:width="http://www.w3.org/1999/xhtml">
<head>
    <% include component/header.html %>
    <title>Competence3_6</title>
    <link rel="stylesheet" href="/static/css/portfolio.css"/>
</head>
<body>
<div id="page-container">
    <% include component/navbar.html %>
    <div class="tab-content-padding">
        <p>Ich kann einen Banner mit statischen und dynamischen Multimediainhalten gemäss Anforderungen oder auf der
            Basis eines Storyboards erstellen.
        </p>

        <a href="/competence3_7">Hier findet man den Banner</a>
    </div>
</div>
</body>
</html>