<!DOCTYPE html>
<html lang="en" xmlns:width="http://www.w3.org/1999/xhtml">
<head>
    <% include component/header.html %>
    <title>Competence5_1</title>
    <link rel="stylesheet" href="/static/css/portfolio.css"/>
</head>
<body>
<div id="page-container">
    <% include component/navbar.html %>
    <div class="tab-content-padding">
        <p>Ich kenne die, im Zusammenhang mit Druck und Web stehenden, Bildformate und kann für eine bestimmte Situation
            geeignete Formate vorschlagen und begründen.
        </p>
        <img src="/static/images/deviceRes.PNG">
    </div>
</div>
</body>
</html>