<!DOCTYPE html>
<html lang="en">
<head>
    <% include component/header.html %>
    <link rel="stylesheet" href="/static/css/portfolio.css"/>
    <title>Fachkompetenz 1.2</title>
</head>
<body>
<div id="page-container">
    <% include component/navbar.html %>
    <div class="tab-content-padding">
        <p>Ich kann die Auflösung, Farbtiefe, Kompressionsrate und Grösse der Bilder den Anforderungen der Website oder
            eines anderen Einsatzbereiches entsprechend anpassen und ggf. mehrere Versionen desselben Bildes erstellen.
        </p>
        Das Image ist in der Original Auflösung 3864x1728.
        <img src="/static/images/dark_souls_4k.jpg" width="100%">
        Nachfolgend dasselbe image 2048x915
        <img src="/static/images/dark_souls_2k.jpg" width="100%">
    </div>
</div>
</body>
</html>