<!DOCTYPE html>
<html lang="en">
<head>
    <% include component/header.html %>
    <title>Fachkompetenz 1.1</title>
</head>
<body>
<div id="page-container">
    <% include component/navbar.html %>

    <ul  class="nav nav-pills">
        <li><a class="active" href="#png" >PNG</a></li>
        <li><a href="#jpg">JPG</a></li>
        <li><a href="#gif">GIF</a></li>
    </ul>


    <div id="tabs">
        <ul>

        </ul>
        <div id="png">
            <% png %>
        </div>
        <div id="jpg">

        </div>
        <div id="gif">

        </div>
    </div>



    <!-- https://www.npmjs.com/package/markdown-->
</div>
</body>
</html>