<!DOCTYPE html>
<html lang="en" xmlns:width="http://www.w3.org/1999/xhtml">
<head>
    <% include component/header.html %>
    <title>Competence4_2</title>
    <link rel="stylesheet" href="/static/css/portfolio.css"/>
</head>
<body>
<div id="page-container">
    <% include component/navbar.html %>
    <div class="tab-content-padding">
        <p>Um zu prüfen ob das gewünschte Element in HTML5 unterstützt wird kann man  <a href="https://caniuse.com/#search=html5">diesen</a> URL verwenden</p>
    </div>
</div>
</body>
</html>