<!DOCTYPE html>
<html lang="en" xmlns:width="http://www.w3.org/1999/xhtml">
<head>
    <% include component/header.html %>
    <title>Competence3_7</title>
    <link rel="stylesheet" href="/static/css/portfolio.css"/>
</head>
<body>
<div id="page-container">
    <% include component/navbar.html %>
    <div class="tab-content-padding">
        <p>Ich kann einen Banner in eine Webseite integrieren und testen.
        </p>
        <p>Banner erstellt mit dem Storyboard von Kompetenz 3.6</p>


        <img src="/static/images/banner.gif" width="100%" >
        <!--Banner here -->
    </div>
</div>
</body>
</html>