<!DOCTYPE html>
<html lang="en">
<head>
    <% include component/header.html %>
    <title>Image Gallery</title>
    <link rel="stylesheet" href="/static/css/gallery.css">
    <script src="/static/js/lightbox.js"></script>
    <script src="/static/js/upload.js"></script>
</head>
<body>
<!-- Handlungsziel 1.7 -->

<div id="page-container">
    <% include component/navbar.html %>
    <div id="container">
        <div class="row">
            <div class="column horiz-center">
                <img src="/static/images/dark_souls_3_small.jpg" onclick="openModal();currentSlide(1)"
                     class="hover-shadow">
            </div>
            <div class="column horiz-center">
                <img src="/static/images/dark_souls_heide_knight_small.jpg" onclick="openModal();currentSlide(2)"
                     class="hover-shadow">
            </div>
            <div class="column horiz-center">
                <img src="/static/images/dark_souls_small.jpg" onclick="openModal();currentSlide(3)"
                     class="hover-shadow">
            </div>
        </div>

        <input id="inp" type='file'>
        <input id="uploadImg" type="submit" onclick="uploadImage()">
        <p id="b64"></p>
        <img id="img" height="150">

        <div id="closeViewModal" class="modal">
            <span class="close cursor" onclick="closeModal()">&times;</span>
            <div class="modal-content">

                <div class="slides">
                    <div class="numberText">1 / 3</div>
                    <a href="/static/images/dark_souls_3_large.jpg" title="Dark_Souls_3" download>
                        <img src="/static/images/dark_souls_3_large.jpg" style="width:100%">
                    </a>
                </div>

                <div class="slides">
                    <div class="numberText">2 / 3</div>
                    <a href="/static/images/dark_souls_heide_knight_large.jpg" title="Heide_Knight" download>
                        <img src="/static/images/dark_souls_heide_knight_large.jpg" style="width:100%">
                    </a>
                </div>

                <div class="slides">
                    <div class="numberText">3 / 3</div>
                    <a href="/static/images/dark_souls_large.jpg" title="Dark_Souls" download>
                        <img src="/static/images/dark_souls_large.jpg" style="width:100%">
                    </a>
                </div>

                <!-- Next/previous controls -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

                <!-- Caption text -->
                <div class="caption-container">
                    <p id="caption"></p>
                </div>

                <!-- Thumbnail image controls -->
                <div id="preview">
                    <div class="column">
                        <img class="thumbnail" src="/static/images/dark_souls_3_small.jpg" onclick="currentSlide(1)"
                             alt="Dark_Souls3">
                    </div>
                    <div class="column">
                        <img class="thumbnail" src="/static/images/dark_souls_heide_knight_small.jpg"
                             onclick="currentSlide(2)" alt="HeideKnight">
                    </div>
                    <div class="column">
                        <img class="thumbnail" src="/static/images/dark_souls_small.jpg" onclick="currentSlide(3)"
                             alt="Dark_Souls">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>