<!DOCTYPE html>
<html lang="en">
<head>
    <% include component/header.html %>
    <title>Image Gallery</title>
    <link rel="stylesheet" href="/static/css/gallery.css">
</head>
<body>
<div id="page-container">
    <% include component/navbar.html %>
    <div id="container">
        <div class="gallery">
            <a target="_blank" href="/static/images/demon_prince.jpeg">
                <img src="/static/images/demon_prince.jpeg" alt="Demon_prince" width="300" height="200">
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>

        <div class="gallery">
            <a target="_blank" href="/static/images/ds3.jpg">
                <img src="/static/images/ds3.jpg" alt="Ds3" width="300" height="200">
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>
        <div class="gallery">
            <a target="_blank" href="/static/images/ringed.jpg">
                <img src="/static/images/ringed.jpg" alt="Ringed_Knight" width="300" height="200">
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>
    </div>


</div>

</body>
</html>