<!DOCTYPE html>
<html lang="en">
<head>
    <% include component/header.html %>
    <link rel="stylesheet" href="/static/css/portfolio.css"/>
    <title>Lernjournal</title>
</head>
<body>
<div id="page-container">
    <% include component/navbar.html %>

    <div class="tab-content-padding">
        <%- learnjournal_20180319 %>
        <%- learnjournal_20180326 %>
        <%- learnjournal_20180330 %>
        <%- lernjournal_20180409 %>
        <%- lernjournal_20180416 %>
        <%- lernjournal_20180423 %>
        <%- lernjournal_20180430 %>
        <%- lernjournal_20180530 %>
    </div>
</div>
</body>

</html>