<!DOCTYPE html>
<html lang="en">
<head>
    <% include component/header.html %>
    <link rel="stylesheet" href="/static/css/portfolio.css"/>
    <title>Libraries</title>
</head>
<body>
<% include component/navbar.html %>
<div id="page-container" class="tab-content-padding">
    <p>NodeJs</p>
    <a href="https://nodejs.org/en/">https://nodejs.org/en/</a>
    <p>WatermarkJs</p>
    <a href="https://github.com/brianium/watermarkjs">https://github.com/brianium/watermarkjs</a>
    <p>Node Exif </p>
    <a href="https://github.com/gomfunkel/node-exif">https://github.com/gomfunkel/node-exif</a>
    <p>Express File Upload </p>
    <a href="https://www.npmjs.com/package/express-fileupload">https://www.npmjs.com/package/express-fileupload</a>


</div>
</body>
</html>